@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

body {
    background-image: url("bg.png");
    font-family: 'Slabo 27px', serif;
    color: #d3d3d3;
}
h1, h2, h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
a:link, a:visited, a:hover,a:active {
    text-decoration: none;
    color: #fff;
}
p {
    display: inline;
    white-space: nowrap;
}
.op_info, .reply_info {
    color: #326f32;
}
.image {
    float: left;
    margin: 5px;
}
.op, .reply {
    margin-bottom: 5px;
    width: 70%;
    clear: both;
}
.op_content {
    clear: both;
}
.op {
    border-style: solid;
    border-width: 1px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-color: #515151;
}
.reply {
    margin-left: 20px;
}
.post {
    text-align: center;
}
.post_form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    border: 2px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    border-color: #1b1b1b;
    padding: 5px 5px 5px 5px;
}
input, textarea {
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #515151;
    margin: 2px 0 2px 0;
    color: #d3d3d3;
}
.line {
    width: 100%;
    border: 1px;
    border-style: solid;
    border-bottom: 0px;
    border-color: #515151;
}
pre {
    margin: 0px 0px 0px 0px;
}
.quote {
    color: #84A946;
}
.wrap {
    text-align: center;
    width: auto;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #1b1b1b;
    border-radius: 3px 3px 3px 3px;
    overflow: hidden;
}
.wrap h3 {
    border-style: solid;
    border-width: 1px;
    border-color: #515151;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    margin: 3px;
}
.inner {
    margin: 5px;
    text-align: left;
}
