{% autoescape false %}
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
</head>
<body>
    <h1>{{ title }}</h1>
    <div class="wrap">
        <h3>Boards</h3>
        <div class="inner">
            {% for board in boards %}
                <a href="/{{ board.uri }}/" style="margin: 5px;">{{ board.title }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="wrap">
        <h3>Latest posts</h3>
        <div class="inner">
            {% for post in posts %}
                <a href="/{{ post.uri }}/">[{{ post.uri }}]</a> - <p>{{ post.content }}</p> <a href="/{{ post.uri }}/{{ post.op }}#{{ post.id }}">[reply]</a><br/>
            {% endfor %}
        </div>
    </div>
    <div class="wrap">
        <h3>Latest images</h3>
        <div class="inner" style="text-align: center;">
            {% for image in images %}
                <a href="/{{ image.uri }}/{{ image.op }}#{{ image.id }}">
                    <img src="{{ image.thumbnail }}">
                </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endautoescape %}
