 <html>
 <head>
     <title>{{ title }}</title>
 </head>
 <body>
     {% include 'post_form.html' %}
     {% for post in posts %}
         {% if post.id ==  post.op %}
             {% set op = post.op %}
                 <div class="op">
                     <div class="line"></div>
                     <div class="op_info">
                         <p>By: {{ post.name }}. Created {{ post.timestamp }} ID: <a href="javascript:quote('>>{{ post.id }}')">{{ post.id }}</a>
                     </div>
                     <div class="op_content">
                         <p>{{ post.content }}</p>
                     </div>
                 </div>
             {% for post in posts %}
                 {% if post.op == op and post.id != op %}
                     <div class="reply">
                         <div class="reply_info">
                             <p>By: {{ post.name }}. Created {{ post.timestamp }} ID: <a href="javascript:quote('>>{{ post.id }}')">{{ post.id }}</a>
                         </div>
                         <div class="reply_content">
                             <p>{{ post.content }}</p>
                         </div>
                     </div>
                 {% endif %}
             {% endfor %}
         {% endif %}
     {% endfor %}
 </body>
 </html>

