<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <title>Mod panel</title>
</head>
<body>
    {% if permission == "admin" %}
        <div class="wrap">
            <h3>Admin options</h3>
            <div class="inner">
                <a href="/mod.php?create_board">Create a new board.</a><br/>
                <a href="/mod.php?delete_board">Delete an existing board.</a><br/>
                <a href="/mod.php?add_user">Add a new user.</a><br/>
                <a href="/mod.php?remove_user">Remove an existing user.</a>
            </div>
        </div>
    {% endif %}
    {% if permission == "mod" %}
    {% endif %}
    <div class="wrap">
        <h3>All user options</h3>
        <div class="inner">
            <a href="/mod.php?edit_account">Edit your account.</a><br/>
            <a href="/mod.php?mod_logout">Logout.</a>
        </div>
    </div>
</body>
</html>
